@model PFSSITEWITHOUTENTITY.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h1>Class Details</h1>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th><label asp-for="SessionId" class="control-label"></label></th>
                <td>@Html.DisplayFor(model => model.Session)</td>
            </tr>
            <tr>
                <th>
                    <label asp-for="ClassName" class="control-label"></label>
                </th>
                <td>@Html.DisplayFor(model => model.ClassName)</td>
            </tr>
            <tr>
                <th><label asp-for="Description" class="control-label"></label></th>
                <td> @Html.DisplayFor(model => model.Description)</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="right m-t-10">
            <a asp-action="Index" class="btn btn-sm btn-secondary">View All</a>
        </div>
    </div>
</div>